{% extends 'base.html' %}

{% block content %}
    <h2>Articles</h2>
    <div>
        Search article: {% include "articles/article_search.html" %}
    </div>
    <div>
        Filter by difficulty:
    </div>
    {% for article in object_list %}
        <h3><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></h3>
        <p>[{{ article.get_difficulty_display }}]</p>
        <p>Written by {{ article.author }} at {{ article.created }}</p>
        <hr>
    {% endfor %}
{% endblock content %}
